<% include ../partials/headerUserUC %>




<h1 class="lp_h1">Edit your <%= place.name%> Trip:</h1>
<br>
<h2 class="ui dividing header" id="indent"><span class="white">Let's make some changes!</span></h2>
  <form action="/places/<%= place._id%>?_method=put" method="POST" id="newForm">  


  <div class="ui form">
    <div class="fields">
      <div class="six wide field">
        <label><span class="white">Vacation Name:</span></label>
        <input type="text" name="place[name]" value="<%= place.name%>" autofocus>
      </div>
     <div class="eight wide field">
        <label><span class="white">Location:</span></label>
        <input value="<%= place.location%>" type="text" name="place[location]">
      </div>
       </div>
       
       <div class="fields">
       <div class="four wide field">
        <label><span class="white">Start Date:</span></label>
        <input value="<%= place.startdate%>" placeholder="YYYY/MM/DD" type="date" name="place[startdate]">
      </div>
      <div class="four wide field">
        <label><span class="white">End Date:</span></label>
        <input type="date" placeholder="YYYY/MM/DD" name="place[enddate]" value="<%= place.enddate%>">
      </div>
      </div>

       <div class="fields">
		<div class="four wide field">
        <label><span class="white">Image 1:</span></label>
         <br>
         <input type="hidden" role="uploadcare-uploader" value="<%= place.image[0]%>"name="place[[image]]" />
      </div>
      <div class="four wide field">
        <label><span class="white">Image 2:</span></label>
          <br>
         <input type="hidden" role="uploadcare-uploader" value="<%= place.image[1]%>"name="place[[image]]" />
      </div>
       <div class="four wide field">
        <label><span class="white">Image 3:</span></label>
        <br>
        <input type="hidden" role="uploadcare-uploader" value="<%= place.image[2]%>"name="place[[image]]" />
      </div>
	</div>
    <div class="fields">
    <div class="four wide field">
        <label><span class="white">Latitude:</span></label>
        <input value="<%= place.lat%>" type="text" name="place[lat]">
      </div>
      <div class="four wide field">
        <label><span class="white">Longitude:</span></label>
        <input value="<%= place.long%>" type="text" name="place[long]">
      </div>
    </div>
   <div>
       <input type="submit" value="Update It" class="ui green button">
  </div>
  </div>
  </form>
  <br>
  <form action="/places/<%= place._id%>?_method=DELETE" method="POST" id="newForm">
      <input type="submit" value="Remove!" class="ui red button">
    </form>
  <br>
  <a href="/places" id="indent" class="white">Go Back</a>

<br>
<br>

<% include ../partials/footer %>