<% include ../partials/headerUser %>




<h1 class="lp_h1">Edit your <%= place.name%> Trip:</h1>
<br>
<h2 class="ui dividing header" id="indent">Let's make some changes!</h2>
  <form action="/places/<%= place._id%>?_method=put" method="POST" id="newForm">  


  <div class="ui form">
    <div class="fields">
      <div class="six wide field">
        <label>Vacation Name:</label>
        <input type="text" name="place[name]" value="<%= place.name%>" autofocus>
      </div>
     <div class="eight wide field">
        <label>Location:</label>
        <input value="<%= place.location%>" type="text" name="place[location]">
      </div>
       </div>
       
       <div class="fields">
       <div class="four wide field">
        <label>Start Date:</label>
        <input value="<%= place.startdate%>" type="date" name="place[startdate]">
      </div>
      <div class="four wide field">
        <label>End Date:</label>
        <input type="date" name="place[enddate]" value="<%= place.enddate%>">
      </div>
      </div>

       <div class="fields">
		<div class="four wide field">
        <label>Image 1:</label>
        <input value="<%= place.image[0]%>" type="text" name="place[[image]]">
      </div>
      <div class="four wide field">
        <label>Image 2:</label>
        <input value="<%= place.image[1]%>" type="text" name="place[[image]]">
      </div>
       <div class="four wide field">
        <label>Image 3:</label>
        <input value="<%= place.image[2]%>" type="text" name="place[[image]]">
      </div>
	</div>
    <div class="fields">
    <div class="four wide field">
        <label>Latitude:</label>
        <input value="<%= place.lat%>" type="text" name="place[lat]">
      </div>
      <div class="four wide field">
        <label>Longitude:</label>
        <input value="<%= place.long%>" type="text" name="place[long]">
      </div>
    </div>
   <div>
       <input type="submit" value="Update It" class="ui primary button">
  </div>
  </div>
  </form>
  <br>
  <form action="/places/<%= place._id%>?_method=DELETE" method="POST" id="newForm">
      <input type="submit" value="Remove!" class="ui red button">
    </form>
  <br>
  <a href="/places" id="indent">Go Back</a>




<% include ../partials/footer %>