<% include ../partials/headerUser %>


<h1 class="lp_h1">You made it to the SHOW PLACE PAGE!</h1>


<h3><%= place.name%></h3>

<h3><%= place.location%></h3>

<h3><%= place.startdate%></h3>

<h3><%= place.enddate%></h3>

<h3><%= place.image[0]%></h3>

<h3><%= place.image[1]%></h3>

<h3><%= place.image[2]%></h3>


<br>

<a href="/places" id="indent">Go Back</a>










<% include ../partials/footer %>