<% include ../partials/headerIndex %>

<!-- This is the Original simple text HTML Index Page prior to implementing single page functionality with searching ability via API’s  -->

<!-- Not used at this point! -->

<div id="map-canvas"></div>

<h3 class="ui dividing header" id="indent">ravel Log:</h3>

<table class="ui inverted red table">
  <thead>
    <tr>
      <th><strong>Vacation:</strong></th>
      <th><strong>Dates:</strong></th>
         <th><strong>Journal Entries:</strong></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% places.forEach(function(place){ %>
  <tr>
   <td><strong><a class="linkTitle" href="/places/<%= place._id%>"><%= place.name %></a></strong></td>

<!-- Example of date manipulation for user readability -->

    <% var start = place.startdate.slice(5,7) + "/" + place.startdate.slice(8,10) + "/" + place.startdate.slice(0,4);
    var end = place.enddate.slice(5,7) + "/" + place.enddate.slice(8,10) + "/" + place.enddate.slice(0,4);
    %>

    <td><strong><%= start %></strong> - to - <strong><%= end %></strong></td>

    <td><a href="/places/<%= place._id%>/entries"> <button class="ui inverted button"><%= place.entries.length%></button></a></td>

    <td><a href="/places/<%= place.id %>/edit"><button class="ui inverted button">Edit</button></a></td>

  </tr>
<% })%>

</tbody>
</table>



 <a id="indent" href="/places/new">Add a new Place!</a>




<% include ../partials/footer %>