<% include ./partials/headerUser %>

<h1 class="lp_h1">Welcome to <%= place.location%>!</h1>

<h3 id="indent">Latitude: <%= place.lat%></h3>

<h3 id="indent">Longitude: <%= place.long%></h3>


<div class="ui two column centered grid">
    <div class="four column centered row">
      <div class="column">
        
      <h3><a href="" target="_blank">Image 1</a></h3>
      <img src="http://wallpapers55.com/wp-content/uploads/2013/11/beach-tropical-hd-wallpaper.jpg" alt="Image 1" height=280>

      </div>
      <div class="column">
        
        <h3><a href="" target="_blank">Image 2</a></h3>
    <img src="http://www.tropicalbeachgetaways.com/wp-content/uploads/2011/02/tropical-beach-serene-peaceful-774060.jpg" alt="Image 2" height=280>

      </div>
      </div>
        <div class="four column centered row">
       <div class="column">
          
          <h3><a href="" target="_blank">Image 3</a></h3>
      <img src="http://www.emoticonswallpapers.com/wallpaper/beaches/tropical-beach-wallpaper-086.jpg" alt="Image 3" height=280>

       </div>
       </div>
    </div>
<br>

<form action="/places" method="POST" id="newForm">  
    <input type="hidden" name="place[name]" value="<%= place.location%>">
    <input type="hidden" name="place[location]" value="<%= place.location%>">
    <input type="hidden" name="place[lat]" value="<%= place.lat%>">
    <input type="hidden" name="place[startdate]" value="0000-00-00"> 
    <input type="hidden" name="place[enddate]" value="0000-00-00"> 
    <input type="hidden" name="place[long]" value="<%= place.long%>">
  <div>
       <input type="submit" value="That's It!" class="ui primary button">
  </div>

</form>

<br>
<a href="/places" id="indent">Go Home</a>
 <br>






<% include ./partials/footer %>