<% include ../partials/headerUser %>


<h1 class="lp_h1"><%= entry.name%></h1>

<div class="ui warning message">
	<h1 class="lp_p"><span class="black"><%= entry.body%></span></h1>
    </div>

<br>
<h2 class="ui dividing header" id="indent"><span class="white">Photos</span></h2>
<br>

<div class="ui two column centered grid">
    <div class="four column centered row">
      <div class="column">
      	
			<h3><a href="<%= entry.image[0]%>" target="_blank" class="white">Image 1</a></h3>
			<img src="<%= entry.image[0]%>-/autorotate/yes/" alt="No Image Uploaded" style="height:auto; width:auto; max-width:220px; max-height:220px;">

      </div>
      <div class="column">
      	
      	<h3 id="indent"><a href="<%= entry.image[1]%>" target="_blank" class="white">Image 2</a></h3>
		<img src="<%= entry.image[1]%>-/autorotate/yes/" alt="No Image Uploaded" style="height:auto; width:auto; max-width:220px; max-height:220px;">
       </div>
       <div class="column">
	        
	        <h3 id="indent"><a href="<%= entry.image[2]%>" target="_blank" class="white">Image 3</a></h3>
			<img src="<%= entry.image[2]%>-/autorotate/yes/" alt="No Image Uploaded" style="height:auto; width:auto; max-width:220px; max-height:220px;">

       </div>
      </div>
    </div>
<br>
<br>
<a href="/places/<%= entry.place._id%>/entries" class="white" id="indent">See all Journal Entries</a>

<br>
<br>


<% include ../partials/footer %>